<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    .header {
        padding-top: 20px;
        position: relative;
        left: 120px;
    }
    .input-name{
        position: relative;
        left: 0px;
        font-size: large;
    }
    #id{
        position: relative;
        left: 140px;
        width:535px;
        padding: 5px;
    }
    #string{
        position: relative;
        left: 115px;
        width:535px;
        padding: 5px;
    }
    #integer{
        position: relative;
        left: 107px;
        width:535px;
        padding: 5px;
    }
    #float{
        position: relative;
        left: 121px;
        padding: 5px;
        width:535px;
    }
    #date{
        position: relative;
        left: 124px;
        padding: 5px;
        width:535px;
    }
    #boolean{
        position: relative;
        left: 98px;
        padding: 5px;
        width:535px;
    }
    .button-edit{
        position: relative;
        left: 0px;
        top:10px;
        background-color: rgb(94, 115, 233);
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }
</style>
<body>
    <div class="header">
        <h1>Edit Data</h1>
    <form action="/edit/<%= bread.id %>" method="post">
        <label class="input-name" for="">ID</label>
        <input id="id" type="integer" name="id" value="<%= bread.id %>" required />
        <br />
        <br />
        <label class="input-name" for="">String</label>
        <input id="string" type="text" name="string" value="<%= bread.string %>" required />
        <br />
        <br />
        <label class="input-name" for="">Integer</label>
        <input id="integer" type="number" name="integer" value="<%= bread.integer %>" required />
        <br />
        <br />
        <label class="input-name" for="">Float</label>
        <input id="float" type="float" name="float" value="<%= bread.float %>" required />
        <br />
        <br />
        <label class="input-name" for="">Date</label>
        <input id="date" type="text" name="date" value="<%= bread.date %>" required />
        <br />
        <br />
        <label class="input-name" for="">Boolean</label>
        <input id="boolean" type="text" name="boolean" value="<%= bread.boolean %>" required />
        <br />
        <br />
        <button class="button-edit" type="submit">Update</button>
        <br />
    </form>
</body>
</html>